@import "variable.scss";
@import 'section1.scss';
@import 'Section2.scss';
@import 'section3.scss';
@import 'section4.scss';
@import "next.scss";
@import "next2.scss";
@import 'fundamental.scss';
@import 'classificaton.scss';
@import "universe.scss";
*{
  font-family: "Anta", sans-serif;
}
p{
  color: white;
 margin: 0;
 padding: 0;
 font-size: clamp(16px, 4vw, 25px) ;
 
 }
a{
 text-decoration: none;
 color: black;
}