@import "variable.scss";
@import "section1.scss";
@import "Section2.scss";
@import "section3.scss";
@import "section4.scss";
@import "next.scss";
@import "next2.scss";
@import "fundamental.scss";
@import "classificaton.scss";
@import "universe.scss";
* {
 font-family: "Anta", sans-serif;
}
p {
 color: white;
 margin: 0;
 padding: 0;
 font-size: clamp(16px, 4vw, 25px);
}
a {
 text-decoration: none;
 color: #27f4a0;
 width: 10vw !important;
}

button {
 font-size: clamp(1.2rem, 4vw, 1.9rem);
 border: 2px solid #27f4a5;
 border-radius: 20px;
 background: none;
 margin: 5% 5%;
 padding: 2vw 3vw !important;
 color: #27f4a5;
 text-align: center;
 &:hover {
  color: black;
  background: white;
  border: none;
 }
}

