@import "variable.scss";
@import 'section1.scss';
@import 'Section2.scss';
*{
 font-family: a;
 
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;

}
p{
 margin: 0;
 padding: 0;
 font-size: clamp(16px, 4vw, 25px) ;
 
 }
a{
 text-decoration: none;
}