.next {
 text-align: center;
 h1:first-child {
  color: mediumspringgreen;
 }
 h1 {
  font-size: clamp(2rem, 10vw, 3rem);
  text-align: center;
  margin: 5vw;
  color: white;
  i {
   color: deeppink;
  }
  span {
   background: linear-gradient(45deg, #f5a549, #ee2678);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
  }
 }
 p {
  text-align: center;
  width: 70%;
  margin: auto;
  span {
   color: white;
  }
 }
}
.next4 {
 height: 100vh;
 text-align: center;
 img {
  width: 60%;
 }
 h1 {
  font-size: clamp(2.5rem, 5vw, 5rem);
  background: linear-gradient(45deg, #f5a549, #ee2678);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
  
 }
}

.next5{
 text-align: center;
 h1{
   font-size: clamp(2.5rem, 5vw, 3rem);
  background: linear-gradient(45deg, #f5a549, #ee2678);
   -webkit-background-clip: text;
   background-clip: text;
   padding-top: 10vh;
   color: transparent;
  
 }
 p{
  width: 70%;
  margin: 10% auto;
  font-size: clamp(13px, 3vw, 1rem);
 }
}