.next3, .next2{
 ul {
  h1{
   font-size: clamp(2rem, 7vw, 5rem);
   margin: 10vw;
  }
  div{
   text-align: left;
  }
  img{
   height: 50%;
  }}
  li{
   font-size: clamp(15px, 3vw, 2.5rem);
 }
}
.next3, .inext4{
 h1{
  font-size: clamp(1.5rem, 5vh, 2.4rem);
  text-align: center;
  background: linear-gradient(45deg, #f5a549, #ee2678);
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
 }
 p{
  width: 90%;
  margin: auto;
  font-size: clamp(14px, 4vw, 1rem);
 }
 div{
  text-align: left;
  margin: 5vh;
 }
 }