$primary-text-color: white;
*{
 overflow: hidden;
}
button{
 padding: 5px 10px;
 border: none;
 border-radius: 10px;
 font-size: 20px;
 margin: 10px;
 &:hover{
  color: white;
  background: springgreen;
 }
}
.section-2 {
 height: 100vh;
 display: flex;
 flex-direction: column;
 h1 {
  font-size: clamp(2.3rem, 6vw, 10rem);
  text-align: center;
  color: $primary-text-color;
  font-weight: bolder;
 }
 section {
  flex-grow: 1;
  .main {
   display: flex;
   flex-direction: column;
   .content-grid {
    display: grid;
    flex-grow: 1;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    grid-row-gap: 2vw;
    grid-column-gap: 10vw;
    .content-container {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 6vh;
     .content-index {
      background: #09213d;
      color: $primary-text-color;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      aspect-ratio: 1/1;
      font-weight: 800;
      border-top: 4px solid springgreen;
      border-bottom: 4px solid springgreen;
      font-size: clamp(30px, 3vw, 60px);
     }
     .content-heading {
      text-align: center;
      color: $primary-text-color;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-grow: 1;
      font-size: clamp(15px, 2vw, 40px);
     }
    }
   }
   .next-div {
    text-align: right;
    display: flex;
    margin: 7% ;
    background: pink;
    justify-content: flex-end;
    align-items: center;
    }
   }
  }
 }
@media (max-width: 800px) {
 .section-2 {
  section {
   .main{
   .content-grid 
   {
    grid-template-columns: 1fr;
   }}
  }
 }
}
