
*{
 margin: 0;
 padding: 0;
}
body{
 height: 100vh;
 width: 100vw;
}
.sun{
 height: 100px;
 width: 100px;
 background: linear-gradient(yellow, orange);
 box-shadow: 
 1px 1px 50px gold,
 1px 1px 100px gold,
 1px 1px 150px gold,
 1px 1px 230px gold
 ;
 border-radius: 50%;

 display: flex;
 justify-content: center;
 align-items: center;
}
.main-universe{
 position: absolute;
 top:50%;
 left: 50%;
 z-index: -333;
 transform: translate(-50%, -50%);
 height: 100%;
 width: 100%;
 display: grid;
 place-content: center;
}
.earth{
 min-height: 200px;
 border-top: 1px solid linear-gradient(to right bottom, #23d92e, #9016d4);
 border-radius: 50%;
 min-width: 200px;
 position: absolute;
 
 animation: spin 10s linear infinite;
}
.earth::after{
 content: '';
 min-height: 10px;
 min-width: 10px;
 background: white;
 box-shadow: 1px 1px 40px blue;
 border-radius: 50%;
 position: absolute;
 top:50%;
 right: 0%;
 
}
.earth:first-child{
  &::after{
    content:'';
    background: brown;
  }
}
.earth:nth-child(2){
 height: 300px;
 width: 300px;
 &::after{
   content: '';
   background: saddlebrown;
 }
 animation: spin 13s linear infinite;
}
.earth:nth-child(3){
 height: 400px;
 width: 400px;
  &::after{
   content: '';
   background: linear-gradient(royalblue, lawngreen);
 }
 animation: spin 16s linear infinite;
}
.earth:nth-child(4){
 height: 470px;
 width: 470px;
  &::after{
   content: '';
   background: #e96f6f;
 }
 animation: spin 19s linear infinite;
}
.earth:nth-child(5){
 height: 520px;
 animation: spin 21s linear infinite;
 width: 520px;
  &::after{
   content: '';
   padding: 5px;
   background: linear-gradient(white, brown);
 }
}
.earth:nth-child(6){
 animation: spin 23s linear infinite;
 height: 570px;
 width: 570px;
  &::after{
   content: '';
   background: lightgoldenrodyellow;
   padding: 3px;
 }
}
.earth:nth-child(7){
 animation: spin 25s linear infinite;
 height: 640px;
 width: 640px;
  &::after{
   content: '';
   padding: 2px;
   background: blue;
 }
}
.earth:nth-child(8){
 animation: spin 28s linear infinite;
 height: 690px;
 width: 690px;
  &::after{
   content: '';
   padding: 2px;
   background: darkblue;
 }
}
@keyframes spin{
 from{
  transform: rotate(0deg);
 }
 to{
  transform: rotate(360deg);
 }
}