.universe {
 height: 100vh;
 width: 100vw;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(3, 1fr);
 grid-gap: 1vw 1vw;
 div {
  text-align: center;
  padding: 5px;
  h1{
   color: mediumspringgreen;
   font-weight: 900;
   margin: 5px;
  }
  border: 1px solid white;
 }
}
@media (max-width:600px){
 .universe{
  display: block;
  height: 200vh;
 }
}